

body {
	position: relative;
}

.social {
	width: 30px;
	height: 30px;
}

.section {
	padding:50px;
}

.navbar-brand {
	font-size: 1em;
}

.container-fluid {
     padding:0;
}

#sherry {
	background-color: white;
	height: 100vh;
}

#contact {
	height: 100vh;
}

#about, #proj, #contact {
	background-color: lightblue;
}

