body {
	position:relative;
	margin-top:100px;
	margin-bottom: 100px;
	background-color: black;
	color: white;
}

img {
	width: 30px;
	height: 30px;
}

.section {
	height:100vh;
	padding: 50px;
}

.navbar-brand {
	font-size: 1em;
}

#about {
	background-color: gray;
}

#proj {
	background-color: gray;
}

#contact {
	background-color: gray;
}
